# Data Science Tools and Ecosystem

In this notebook, Data science tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries
+ List Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science tools |
| ------------------ |
| MySQL |
| PixieDust |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiple then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 min into hours by dividing by 60.
200/60

3.3333333333333335

## Author

Ramkumar